.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - var(--navbar-width));
  height: 100vh;
}

.canvas {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

.canvas > canvas {
  display: block;
}
