body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background: var(--color-background-default);
  color: var(--color-text-default);

  /* stylelint-disable */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* stylelint-enable */
}
